 CSS RESET */

html,
body,
div,
.padder,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img,
object,
embed {
    display: block
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

nav ul,
nav li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
    width: auto
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

legend {
    color: #000;
}

a,
.no-touch a:hover,
.no-touch a:visited:hover,
a:active,
.no-touch a:active:hover {
    outline: none
}

/* a,.no-touch a:hover,.no-touch a:visited:hover,a:visited{text-decoration: none} */

a {
    outline: none;
}

::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

::-webkit-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    color: transparent;
    font-size: 0;
    border: none;
    outline: none;
    /* max-width: 100%; */
    /*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
    -ms-interpolation-mode: bicubic;
}

.opacity img {
    opacity: 0;
    filter: alpha(opacity=0);
    /* ie lt 8 */
    -ms-filter: "alpha(opacity=0)";
    /* ie 8 */
    -moz-opacity: 0;
    /* FF lt 1.5, Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
}

/* __Basic
---------------------------------------------------------------- */

* {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

body {
    font-family: 'MaisonNeue', Helvetica, sans-serif;
    font-size: 62.5%;
    font-weight: 300;
    color: #000;
    line-height: 1.4em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-height: 600px;
}

body {
    -webkit-transition: background-color 1s ease-in-out !important;
    -moz-transition: background-color 1s ease-in-out !important;
    -o-transition: background-color 1s ease-in-out !important;
    transition: background-color 1s ease-in-out !important;
    -webkit-touch-callout: none;
    /*-webkit-tap-highlight-color: #ddd;*/
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    zoom: reset;
}

.display-inline {
    display: inline-block;
}

.mobile-visible{
    display: none;
}

/*  __H
---------------------------------------------------------------- */

h1 {
    font-size: 25pt;
    font-weight: 400;
    line-height: 1.4em;
    border-bottom: 1em;
}

h2 {
    color: #d0d0d0;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.4em;
}


/*  __P
---------------------------------------------------------------- */

p {
    font-size: 14px;
    line-height: 1.6em;
}

/* __A
---------------------------------------------------------------- */

a:link {
    text-decoration: none;
    color: #000;
}

a:active {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #777777;
}

a img {
    border: none;
}

/* __nav
---------------------------------------------------------------- */

.navbar {
    padding: 0em;
}

.navbar-toggler {
    color: #d0d0d0;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 0em;
    margin-right: 1em;
    padding: 0em;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler h2 {
    margin-bottom: 0em;
    margin-right: 1em;
}

.navbarToggleExternalContent {
    padding:0;
}

.main-nav {
    margin-top: 1em;
}

.main-nav li {
    display: inline-block;
    font-size: 32pt;
    line-height: 35pt;
    text-decoration: none;
    color: #777777;
    padding-right: 0.25em;
}

.main-nav a {
    padding-right: 0.25em;
}

.info-btn {
    color: #d0d0d0 !important;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 0em;
}

.header {
    padding: 4em 8em 1em 8em;
}

/*  __List
---------------------------------------------------------------- */

ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none outside;
}

/*  __img
---------------------------------------------------------------- */

img {
    max-width: 100%;
    height: auto;
}

/* __Wrap
---------------------------------------------------------------- */

.wrap {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

body>.wrap {
    height: auto;
    min-height: 100%;
}

.main {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}


/* __Cycle Slider
---------------------------------------------------------------- */

.cycle-slideshow {
        position: relative;
        z-index: 0;
}

.cycle-slideshow img{
    max-height: 60vh;
    margin: auto;
    padding: 10px;
}

#mainpageslider img{
    max-height: 80vh;
}

.variable {
    /*margin-left: 60px;*/
    margin: 10px 60px;
}

.variable img {
    max-height: 74vh;
    max-width: 100vw;
    padding-left: 15px;
}

.slider_div {
    outline: none;
}

.slick-slide {
    outline: none
}

.slick-prev:before, .slick-next:before {
    color: #d0d0d0 !important;
}


/* __Overlay
---------------------------------------------------------------- */

.hamburger {
    display: none !important;
    z-index: 1;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: #d0d0d0 !important;
    width: 35px !important;
    height: 3.5px !important;
}

.hamburger-box {
    height: 27px !important;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
  padding-left: 6em;
  padding-right: 6em;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay a {
  text-decoration: none;
  font-size: 36px;
  line-height: 38px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* __Info
---------------------------------------------------------------- */

#info {
    margin: 10px 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 75vh;
}

#info img {
    height: 150px;
}

.contact {
    font-weight: 600;
}

/* __Fade
-------------------------------- */

body {

    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* ---------------------------------------------------------------------

__Media Query

--------------------------------------------------------------------- */

@media only screen and (max-width: 1450px) {
    .variable img {
        max-width: 92vw;
    }
}


@media only screen and (max-width: 1250px) {
    .variable img {
        max-width: 90vw;
    }
    
}

@media only screen and (max-width: 1050px) {
    .variable img {
        max-width: 87vw;
    }
}

@media only screen and (max-width: 950px) {
    .variable img {
        max-width: 84vw;
    }
}

@media only screen and (max-width: 750px) {
    .header {
        padding: 4em 6em 1em 6em;
    }
    .navbar-toggler{
        margin-right: 0.5em;
    }
    .square-img img {
        max-width: 78vw;
    }
    #info {
        margin: 0em 6em;
    }
}



@media only screen and (max-width: 500px) {
    .cycle-slideshow {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .header {
        padding: 4em 4em 1em 4em;
    }

    #info {
        margin: 0em 4em;
    }

    .mobile-hidden{
        display: none;
    }

    .mobile-visible{
        display: inline-block;
    }

    .hamburger {
        display: block !important;
        position: fixed !important;
        top: 3em !important;
        right: 21px !important;
        left: none;
    }



    .main-nav li {
        font-size: 32pt;
        line-height: 34pt;
    }

    .variable {
        margin: 0;
    }

    .variable img {
        max-height: none;
        margin: auto;
        /*max-width: 90vw;*/
        padding-left: 0;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 350px) {
    .header {
        padding: 4em 3em 0em 3em;
    }
}

@media only screen and (max-width: 300px) {
    .header {
        padding: 4em 3em 0em 3em;
    }
}


@media only screen and (max-height: 450px) {
    .cycle-slideshow {
        position: relative;
    }
}


/* ----- Maison Neue Extended  --------------------------------------------- */

@font-face {
    font-family: 'MaisonNeueExtended';
    src: url('../fonts/MaisonNeueExtendedTRIAL-Thin.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MaisonNeueExtended';
    src: url('../fonts/MaisonNeueExtendedTRIAL-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MaisonNeueExtended';
    src: url('../fonts/MaisonNeueExtendedTRIAL-Book.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MaisonNeueExtended';
    src: url('../fonts/MaisonNeueExtendedTRIAL-Medium.otf');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'MaisonNeueExtended';
    src: url('../fonts/MaisonNeueExtendedTRIAL-Demi.otf');
    font-weight: 600;
    font-style: normal;
}

/* ----- Maison Neue --------------------------------------------- */

@font-face {
    font-family: 'MaisonNeue';
    src: url('../fonts/MaisonNeueTRIAL-Thin.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MaisonNeue';
    src: url('../fonts/MaisonNeueTRIAL-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MaisonNeue';
    src: url('../fonts/MaisonNeueTRIAL-Book.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MaisonNeue';
    src: url('../fonts/MaisonNeueTRIAL-Medium.otf');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'MaisonNeue';
    src: url('../fonts/MaisonNeueTRIAL-Demi.otf');
    font-weight: 600;
    font-style: normal;
}
